## Data Generation

Using the following Python libraries, we have taken real-world data, modified it according to our RS and inserted it in our database. Additionally, we generated data randomly to fill the tables corresponding to the many-to-many relations in our ERD.

In [1]:
import pandas as pd
import random
from sqlalchemy import create_engine
import mysql.connector
from faker import Faker
from datetime import date

Real-world datasets (from Kaggle) used to insert data in the tables 'movies' and 'tv_show'.

In [2]:
million_movies = pd.read_csv('million_movies.csv')

### Movies Table

Sorting and renaming the table.

In [3]:
# Leaving only the columns that will be used.
million_movies = million_movies[['title', 'release_date', 'budget', 'revenue', 'runtime', 'tagline', 'overview', 'status', 'vote_count', 'vote_average']]

# Taking the top 500 movies that have more than 7000 votes.
million_movies = million_movies[million_movies['vote_count'] > 7000].nlargest(500, 'vote_average')
million_movies = million_movies[['title', 'release_date', 'budget', 'revenue', 'runtime', 'tagline', 'overview', 'status']]

Generating random ratings and primary languages to fill the missing columns.

In [4]:
ratings = [
    'G', 'PG', 'PG-13', 'R', 'NC-17',
    'U', 'TV-Y', 'TV-Y7', 'TV-G', 'TV-PG', 'TV-14', 'TV-MA',
    'Unrated', 'Not Rated'
]
rating_list = []
for i in range(500):
    rating_list.append(random.choice(ratings))
rating = pd.DataFrame(rating_list)

languages = ['EN', 'FR', 'IT', 'FR', 'JA', 'DE', 'ES']
language_list = []
for i in range(500):
    language_list.append(random.choice(languages))
language_list = pd.DataFrame(language_list)

million_movies['rating'] = rating
million_movies['primary_language'] = language_list

In [5]:
million_movies = million_movies[['title', 'release_date', 'budget', 'revenue', 'runtime', 'tagline', 'overview', 'rating', 'status', 'primary_language']]

Creating and SQLAlchemy engine to write the resulting table to the SQL table.

In [ ]:
df = million_movies.rename(columns={
    'overview': 'description',
    'revenue': 'box_office'
})

# Create SQLAlchemy engine
engine = create_engine("mysql+pymysql://username:password@localhost/Movies")      # Actual username and password should be added before running

# Write DataFrame to the SQL table
df.to_sql(name='movies', con=engine, if_exists='append', index=False)

500

### TV Show Table

Repeating the same process for tv_show table.

In [7]:
tv = pd.read_csv('tv.csv', low_memory=False)

In [8]:
tv = tv[['vote_average', 'vote_count', 'name', 'overview', 'status', 'original_language']]
tv['original_language'] = tv['original_language'].apply(lambda x: x.upper())
tv = tv[tv['vote_count'] > 500].nlargest(500, 'vote_average')
tv = tv[['name', 'overview', 'status', 'original_language']]
tv = tv.rename(columns={
    'name': 'title',
    'overview': 'description',
    'original_language': 'primary_language'
})

In [9]:
tv.to_sql(name='tv_show', con=engine, if_exists='append', index=False)

500

### Fake Data for Many-to-Many Tables

In [10]:
fake = Faker()

conn = mysql.connector.connect(
    host='localhost',
    user='username',    # Change to actual username before running
    password='password',    # Change to actual password before running
    database='Movies'
)
cursor = conn.cursor()

For each of the many-to-many tables, we are generating data using the library Faker.

movie_cast

In [11]:
cursor.execute("SELECT movie_ID FROM movies")
movie_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT ID FROM person")
person_ids = [row[0] for row in cursor.fetchall()]

for _ in range(500):  # 200 random castings
    movie_ID = random.choice(movie_ids)
    person_ID = random.choice(person_ids)
    character_name = fake.first_name() + " " + fake.last_name()
    
    try:
        cursor.execute("""
            INSERT IGNORE INTO movie_cast (movie_ID, person_ID, character_name)
            VALUES (%s, %s, %s)
        """, (movie_ID, person_ID, character_name))
    except:
        continue

conn.commit()

movie_crew

In [12]:
cursor.execute("SELECT job_id FROM jobs")
job_ids = [row[0] for row in cursor.fetchall()]

for _ in range(500):
    movie_id = random.choice(movie_ids)
    person_id = random.choice(person_ids)
    job_id = random.choice(job_ids)

    try:
        cursor.execute("""
            INSERT IGNORE INTO movie_crew (movie_id, person_id, job_id)
            VALUES (%s, %s, %s)
        """, (movie_id, person_id, job_id))
    except:
        continue

conn.commit()

movie_genre

In [13]:
cursor.execute("SELECT genre_id FROM genres")
genre_ids = [row[0] for row in cursor.fetchall()]

for movie_id in movie_ids:
    genres_for_movie = random.sample(genre_ids, random.randint(1, 3))
    for genre_id in genres_for_movie:
        cursor.execute("""
            INSERT IGNORE INTO movie_genre (movie_id, genre_id)
            VALUES (%s, %s)
        """, (movie_id, genre_id))

conn.commit()

movie_languages

In [14]:
cursor.execute("SELECT code FROM languages")
language_codes = [row[0] for row in cursor.fetchall()]

for movie_id in movie_ids:
    langs = random.sample(language_codes, random.randint(1, 2))
    for code in langs:
        cursor.execute("""
            INSERT IGNORE INTO movie_languages (movie_id, lang_code)
            VALUES (%s, %s)
        """, (movie_id, code))

conn.commit()

movie_country

In [15]:
cursor.execute("SELECT code FROM countries")
country_codes = [row[0] for row in cursor.fetchall()]

for movie_id in movie_ids:
    countries = random.sample(country_codes, random.randint(1, 2))
    for code in countries:
        cursor.execute("""
            INSERT IGNORE INTO movie_country (movie_id, country_code)
            VALUES (%s, %s)
        """, (movie_id, code))

conn.commit()

movie_production

In [16]:
cursor.execute("SELECT company_id FROM companies")
company_ids = [row[0] for row in cursor.fetchall()]

for movie_id in movie_ids:
    companies = random.sample(company_ids, random.randint(1, 2))
    for comp in companies:
        cursor.execute("""
            INSERT IGNORE INTO movie_production (movie_id, prod_id)
            VALUES (%s, %s)
        """, (movie_id, comp))

conn.commit()

seasons

In [17]:
cursor.execute("SELECT tv_show_ID FROM tv_show")
tv_show_ids = [row[0] for row in cursor.fetchall()]

statuses = ['Released', 'Post-Production', 'Upcoming']
season_ids = []

for show_id in tv_show_ids:
    num_seasons = random.randint(1, 5)
    base_year = random.randint(1999, 2023)
    
    for s in range(1, num_seasons + 1):
        release_date = fake.date_between(start_date=date(1999, 1, 1), end_date=date(2024, 12, 31))
        status = random.choice(statuses)
        
        cursor.execute("""
            INSERT INTO seasons (season_number, release_date, status, tv_show_id)
            VALUES (%s, %s, %s, %s)
        """, (s, release_date, status, show_id))

        season_ids.append(cursor.lastrowid)
        base_year += 1

conn.commit()

episodes

In [18]:
for season_id in season_ids:
    num_episodes = random.randint(5, 12)
    
    for _ in range(num_episodes):
        title = fake.sentence(nb_words=4).replace('.', '')
        runtime = random.randint(20, 60)
        release_date = fake.date_between(start_date=date(1999, 1, 1), end_date=date(2024, 12, 31))
        budget = random.randint(50_000, 500_000)
        description = fake.text(max_nb_chars=300)
        
        cursor.execute("""
            INSERT INTO episodes (title, runtime, release_date, budget, description, season_id)
            VALUES (%s, %s, %s, %s, %s, %s)
        """, (title, runtime, release_date, budget, description, season_id))

conn.commit()

tv_show_stars

In [19]:
cursor.execute("SELECT ID FROM person")
person_ids = [row[0] for row in cursor.fetchall()]

for tv_id in tv_show_ids:
    stars = random.sample(person_ids, random.randint(2, 6))
    for pid in stars:
        character = fake.first_name() + " " + fake.last_name()
        cursor.execute("""
            INSERT IGNORE INTO tv_show_stars (tv_show_id, person_id, character_name)
            VALUES (%s, %s, %s)
        """, (tv_id, pid, character))

conn.commit()

episode_cast

In [20]:
cursor.execute("SELECT episode_ID FROM episodes")
episode_ids = [row[0] for row in cursor.fetchall()]

for ep_id in episode_ids:
    cast = random.sample(person_ids, random.randint(2, 5))
    for pid in cast:
        character = fake.first_name() + " " + fake.last_name()
        cursor.execute("""
            INSERT IGNORE INTO episode_cast (episode_id, person_id, character_name)
            VALUES (%s, %s, %s)
        """, (ep_id, pid, character))

conn.commit()

episode_crew

In [21]:
for ep_id in episode_ids:
    for _ in range(random.randint(2, 5)):
        pid = random.choice(person_ids)
        job_id = random.choice(job_ids)
        cursor.execute("""
            INSERT IGNORE INTO episode_crew (episode_id, person_id, job_id)
            VALUES (%s, %s, %s)
        """, (ep_id, pid, job_id))

conn.commit()

tv_languages

In [22]:
for tv_id in tv_show_ids:
    langs = random.sample(language_codes, random.randint(1, 2))
    for code in langs:
        cursor.execute("""
            INSERT IGNORE INTO tv_languages (tv_id, lang_code)
            VALUES (%s, %s)
        """, (tv_id, code))

conn.commit()

tv_genre

In [23]:
for tv_id in tv_show_ids:
    genres_for_tv = random.sample(genre_ids, random.randint(1, 3))
    for genre_id in genres_for_tv:
        cursor.execute("""
            INSERT IGNORE INTO tv_genre (tv_id, genre_id)
            VALUES (%s, %s)
        """, (tv_id, genre_id))

conn.commit()

tv_country

In [24]:
for tv_id in tv_show_ids:
    countries = random.sample(country_codes, random.randint(1, 2))
    for code in countries:
        cursor.execute("""
            INSERT IGNORE INTO tv_country (tv_id, country_code)
            VALUES (%s, %s)
        """, (tv_id, code))

conn.commit()

tv_production

In [25]:
for tv_id in tv_show_ids:
    companies = random.sample(company_ids, random.randint(1, 2))
    for comp in companies:
        cursor.execute("""
            INSERT IGNORE INTO tv_production (tv_id, prod_id)
            VALUES (%s, %s)
        """, (tv_id, comp))

conn.commit()

movie_awards

In [26]:
cursor.execute("SELECT award_id FROM awards")
award_ids = [row[0] for row in cursor.fetchall()]

for _ in range(100):
    mid = random.choice(movie_ids)
    aid = random.choice(award_ids)
    date_won = fake.date_between(start_date=date(1990, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO movie_awards (movie_id, award_id, award_date)
        VALUES (%s, %s, %s)
    """, (mid, aid, date_won))
    
conn.commit()

movie_nominations

In [27]:
for _ in range(100):
    mid = random.choice(movie_ids)
    aid = random.choice(award_ids)
    date_nom = fake.date_between(start_date=date(1990, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO movie_nominations (movie_id, award_id, nomination_date)
        VALUES (%s, %s, %s)
    """, (mid, aid, date_nom))

conn.commit()

tv_awards

In [28]:
cursor.execute("SELECT tv_show_id FROM tv_show")
tv_ids = [row[0] for row in cursor.fetchall()]

for _ in range(100):
    tid = random.choice(tv_ids)
    aid = random.choice(award_ids)
    date_won = fake.date_between(start_date=date(1995, 1, 1), end_date=date(2024, 1, 1))
    cursor.execute("""
        INSERT IGNORE INTO tv_awards (tv_id, award_id, award_date)
        VALUES (%s, %s, %s)
    """, (tid, aid, date_won))
    
conn.commit()

tv_nominations

In [29]:
for _ in range(100):
    tid = random.choice(tv_ids)
    aid = random.choice(award_ids)
    date_nom = fake.date_between(start_date=date(1995, 1, 1), end_date=date(2024, 1, 1))
    cursor.execute("""
        INSERT IGNORE INTO tv_nominations (tv_id, award_id, nomination_date)
        VALUES (%s, %s, %s)
    """, (tid, aid, date_nom))
    
conn.commit()

country_awards

In [30]:
for _ in range(100):
    code = random.choice(country_codes)
    aid = random.choice(award_ids)
    date_won = fake.date_between(start_date=date(1980, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO country_awards (country_code, award_id, award_date)
        VALUES (%s, %s, %s)
    """, (code, aid, date_won))
    
conn.commit()

country_nominations

In [31]:
for _ in range(100):
    code = random.choice(country_codes)
    aid = random.choice(award_ids)
    date_nom = fake.date_between(start_date=date(1980, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO country_nominations (country_code, award_id, nomination_date)
        VALUES (%s, %s, %s)
    """, (code, aid, date_nom))

conn.commit()

episode_awards

In [32]:
cursor.execute("SELECT episode_id FROM episodes")
ep_ids = [row[0] for row in cursor.fetchall()]

for _ in range(100):
    eid = random.choice(ep_ids)
    aid = random.choice(award_ids)
    date_won = fake.date_between(start_date=date(2000, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO episode_awards (episode_id, award_id, award_date)
        VALUES (%s, %s, %s)
    """, (eid, aid, date_won))
    
conn.commit()

episode_nominations

In [33]:
for _ in range(100):
    eid = random.choice(ep_ids)
    aid = random.choice(award_ids)
    date_nom = fake.date_between(start_date=date(2000, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO episode_nominations (episode_id, award_id, nomination_date)
        VALUES (%s, %s, %s)
    """, (eid, aid, date_nom))
    
conn.commit()

people_awards

In [34]:
for _ in range(100):
    pid = random.choice(person_ids)
    aid = random.choice(award_ids)
    date_won = fake.date_between(start_date=date(1960, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO people_awards (person_id, award_id, award_date)
        VALUES (%s, %s, %s)
    """, (pid, aid, date_won))

conn.commit()

people_nominations

In [35]:
for _ in range(100):
    pid = random.choice(person_ids)
    aid = random.choice(award_ids)
    date_nom = fake.date_between(start_date=date(1960, 1, 1), end_date=date(2023, 12, 31))
    cursor.execute("""
        INSERT IGNORE INTO people_nominations (person_id, award_id, nomination_date)
        VALUES (%s, %s, %s)
    """, (pid, aid, date_nom))
    
conn.commit()
cursor.close()
conn.close()
print("All data inserted successfully.")

All data inserted successfully.